# Занятие 2

## Вычисления с помощью Numpy

### Задание 1

Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. 
Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. 
Будем считать, что каждый столбец - это признак, а строка - наблюдение. 
Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. 
Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [2]:
import numpy as np

In [79]:
a = np.array([[1, 6],
              [2, 8],
              [3, 11],
              [3, 10],
              [1, 7]])

In [80]:
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [81]:
mean_a = np.mean(a, 0)

In [82]:
mean_a

array([2. , 8.4])

### Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [83]:
a_centered = a - mean_a

In [84]:
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

### Задание 3

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [107]:
a_centered_sp = (a_centered[:5, :1].flatten()).dot(a_centered[:5, 1:2].flatten())

In [108]:
a_centered_sp

8.0

In [113]:
a_centered_sp / (a_centered.shape[0] - 1)

2.0

### Задание 4

В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [119]:
np.cov(a_centered.transpose())[0, 1] == a_centered_sp / (a_centered.shape[0] - 1)

True

## Работа с данными в Pandas

### Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3], 
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [123]:
import pandas as pd

In [126]:
authors = pd.DataFrame({'author_id':[1, 2, 3],
                   'author_name':['Тургенев', 'Чехов', 'Островский']}, columns=['author_id', 'author_name'])

In [129]:
authors.set_index("author_id", inplace=True)

In [127]:
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                      'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                      'price':[450, 300, 350, 500, 450, 370, 290]}, columns=['author_id', 'book_title', 'price'])

In [130]:
books.set_index("author_id", inplace=True)

## Задание 2

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [226]:
authors_price = pd.merge(authors, books, on='author_id', how='left')

In [227]:
authors_price

          author_name            book_title  price
author_id
1            Тургенев           Отцы и дети    450
1            Тургенев                 Рудин    300
1            Тургенев     Дворянское гнездо    350
2               Чехов      Толстый и тонкий    500
2               Чехов       Дама с собачкой    450
3          Островский                 Гроза    370
3          Островский  Таланты и поклонники    290

## Задание 3

In [228]:
top5 = authors_price.nlargest(5, 'price')

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [229]:
top5

          author_name         book_title  price
author_id
2               Чехов   Толстый и тонкий    500
1            Тургенев        Отцы и дети    450
2               Чехов    Дама с собачкой    450
3          Островский              Гроза    370
1            Тургенев  Дворянское гнездо    350

## Задание 4

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [230]:
authors_stat = authors_price.groupby('author_name').price.agg(
    min_price = 'min', 
    max_price = 'max', 
    mean_price = 'mean')

In [231]:
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

## Задание 5

Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [232]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']

In [233]:
authors_price

          author_name            book_title  price    cover
author_id
1            Тургенев           Отцы и дети    450  твердая
1            Тургенев                 Рудин    300   мягкая
1            Тургенев     Дворянское гнездо    350   мягкая
2               Чехов      Толстый и тонкий    500  твердая
2               Чехов       Дама с собачкой    450  твердая
3          Островский                 Гроза    370   мягкая
3          Островский  Таланты и поклонники    290   мягкая

In [240]:
book_info = pd.pivot_table(authors_price, values='price', 
                           index=['author_name'], 
                           columns=['cover'], aggfunc=np.sum, fill_value=0)

In [241]:
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [246]:
book_info.to_pickle('book_info.pkl')

In [247]:
book_info_2 = pd.read_pickle('book_info.pkl')

In [248]:
book_info_2

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950